<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<table>
		<thead>
			<tr>
			 	<th>Account No</th>
			 	<th>Type</th>
			 	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="account: ${accounts }">
				<td th:text="${ account.accountNo}"></td>
				<td th:text="${account.type}"></td>
				<td >Details</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="footer :: copy"></div>

</body>
</html>
